<app-header (sideNav)="sidenav.toggle()"></app-header>
<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <!-- <ul fxLayout="column" fxLayoutAlign="start" fxFlex fxLayoutGap="10px" class="sidenav">
            <li><a routerLink="/signup">Signup</a></li>
            <li><a routerLink="/signin">Signin</a></li>
            <li><a routerLink="/training">Training</a></li>
        </ul> -->
        <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- <mat-toolbar color="primary">Fitness App</mat-toolbar> -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


