mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 95%;
}

mat-sidenav{
    width: 250px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

sidenav a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightgray;
}

nav-caption {
    display: inline-block;
    margin-left: 10px;
}